.codetitle {
	font-size: 0.9em;	
#	font-family: Helvetica, sans-serif, Verdana, Arial;
#	padding: 0.25em;
	margin-left: 1.0em;
	margin-top: 0;
	margin-bottom: 0;
	color: #ffffff;
	font-weight: bold
}


.ntable {
	padding: 0em;
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

.command {
    color: black;
    font-size: 110%;
    font-weight: bold;
}

.output {
    color: green;
}

.comment {
    color: red;
    font-weight: bold;
}

p {
    font-size: larger;
}

.dazi {
    font-size: xx-large;
}

.back-to {bottom: 35px;overflow:hidden;position:fixed;right:10px;z-index:999;}
.back-to .back-top {background: url("/assets/images/top.png") no-repeat scroll 0 0 transparent;display: block;float: right;height:50px;margin-left: 10px;outline: 0 none;text-indent: -9999em;width: 50px;}
.back-to .back-top:hover {background-position: -50px 0;}
opacity: .6;

